@import 'app/scss/colours.scss';
@import './node_modules/bourbon/app/assets/stylesheets/_bourbon';

.flip-container {
  @include perspective(1000);
  @extend %card;
  border-radius: 10px;
  display: block;
  display: inline-block;
  float: left;
  font-family: 'Roboto', sans-serif;
  height: 300px;
  margin: 1rem;
  perspective: 1000;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 300px;

  &:hover {
    background-color: $lighter-primary-color;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}


  .card-active .flipper,
  .card-active .flipper {
    @include transform(rotateY(180deg));
  }


%card {
  height: 170px;
  margin: 10px;
  width: 170px;
}

%card-properties {
  // background-color: $default-primary-color;
  // border-radius: 10px;
  @include backface-visibility(hidden);
  left: 0;
  position: absolute;
  top: 0;

      p {
      margin: 0;
      margin-top: 85px;
      margin-left: 40px;
      padding-top: 30px;
      padding: 0;
      text-align: center;
      width: 56px;
    }
}

.flipper {
  background-color: white;
  @include transform-style(preserve-3d);
  @include transition(0.6s);
  position: relative;
}

.front {
    background-color: $default-primary-color;
    border-radius: 10px;
    margin:0;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);



  @extend %card;
  @extend %card-properties;
    p {
      margin: 0;
      margin-top: 85px;
      margin-left: 40px;
      padding-top: 30px;
      padding: 0;
      text-align: center;
      width: 56px;
    }

  .name {
    @include transform(rotate(-200deg));
    background: rgba(33, 33, 33, 0.9);
    border-radius: 5px;
    bottom: 60px;
    color: #f8f8f8;
    display: inline-block;
    font-family: Courier;
    font-size: 2em;
    left: 25%;
    padding: 5px 10px;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;
  }
}

.back {
  background-color: $accent-color;
  display:flexbox;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  @include transform(rotateY(180deg));
  @extend %card;
  @extend %card-properties;
  margin: 0px;
  p {
      margin: 0;
      margin-top: 96px;
      margin-left: 47px;
      padding-top: 30px;
      padding: 0;
      text-align: center;
      width: 56px;
  }
  &--bottom-banner {

  }
}

.album-cover {
  width: 100%;
  border-radius: 10px;
}

.unflipped-cover {
  width: 30%;
  margin-top: 57px;
}


.pulse {
  -webkit-animation: pulse 3s linear infinite;
  -moz-animation: pulse 3s linear infinite;
  -ms-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}

@keyframes "pulse" {
 0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }
 50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
 }
 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }

}


@-moz-keyframes pulse {
 0% {
   -moz-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -moz-transform: scale(0.9);
   transform: scale(0.9);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse" {
 0% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -webkit-transform: scale(0.9);
   transform: scale(0.9);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}


